<div class="col-md-8 offset-2">
    <p>
    </p><h4>List of all your orders</h4>
    <p></p>

    <table class="table">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Items</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="align-middle">1</td>
                <td class="align-middle">
                    <ul style="list-style-type:none">
                        <li>
                            <div>
                                <span class="badge bg-success">1</span> [$12.00] - Brandit BDU Ripstop Shorts
                            </div>
                        </li>
                    </ul>
                </td>
                <td class="align-middle">
                    $12.00
                </td>

            </tr>
            <tr>
                <td class="align-middle">2</td>
                <td class="align-middle">
                    <ul style="list-style-type:none">
                        <li>
                            <div>
                                <span class="badge bg-success">2</span> [$12.00] - Brandit BDU Ripstop Shorts
                            </div>
                        </li>
                    </ul>
                </td>
                <td class="align-middle">
                    $12.00
                </td>

            </tr>
            <tr>
                <td class="align-middle">3</td>
                <td class="align-middle">
                    <ul style="list-style-type:none">
                        <li>
                            <div>
                                <span class="badge bg-success">1</span> [$12.00] - Brandit BDU Ripstop Shorts
                            </div>
                        </li>
                    </ul>
                </td>
                <td class="align-middle">
                    $12.00
                </td>

            </tr>
            <tr>
                <td class="align-middle">4</td>
                <td class="align-middle">
                    <ul style="list-style-type:none">
                        <li>
                            <div>
                                <span class="badge bg-success">1</span> [$12.00] - Brandit BDU Ripstop Shorts
                            </div>
                        </li>
                    </ul>
                </td>
                <td class="align-middle">
                    $12.00
                </td>

            </tr>
        </tbody>
    </table>

</div>