################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HikingStore/FileContentIndex/87fa7dd6-f93b-4a14-9150-1bee12160dc9.vsidx
/.vs/HikingStore/FileContentIndex/merges
