@model ShoppingCartDetails
<!-- Cart Start -->
 <h3 class="text-center" style="padding-top: 20px">Shopping Cart</h3>
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-12 table-responsive mb-5">
            <table class="table table-light table-borderless table-hover text-center mb-0">
                <thead class="thead-dark" style="font-size: 18px">
                    <tr>
                        <th></th>
                        <th>Products</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    @foreach (var item in Model.Carts)
                    {
                        <tr>
                            <td class="align-middle"><img src="~/Product/@item.Product.ProImage" alt="" style="width: 100px;"> </td>
                            <td class="align-middle"> @item.Product.ProName</td>
                            <td class="align-middle">€@item.Product.Price</td>
                            <td class="align-middle">
                                <input type="text" readonly class="form-control form-control-sm  border-0 text-center" value="@item.Qty">


                            </td>
                            <td class="align-middle">€@(item.Product.Price * item.Qty)</td>
                            <td class="align-middle">
                                <form asp-action="RemoveItem" asp-controller="Carts" asp-route-id="@item.CartId" method="post">
                                    <button type="submit" class="btn btn-sm btn-danger">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </form>

                            </td>
                        </tr>
                    }


                </tbody>
            </table>
        </div>

        <div class="col-md-12">
            <div class="card">
            <div class="card-body">
                <h5 class="float-left">Total:</h5> <h5 class="float-right">@Model.TotalAmount.ToString("c")</h5>
            </div>
        </div>
                <form asp-area=""  asp-controller="Order" asp-action="Index">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label>Street</label>
                            <input @*asp-for="Street"*@ required class="form-control">
                        </div>
                        <div class="form-group col-md-4">
                            <label>City</label>
                            <input @*asp-for="City"*@ required class="form-control">
                        </div>
                        <div class="form-group col-md-4">
                            <label>Phone Number</label>
                            <input @*asp-for="PhoneNumber" *@required class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Additional Comment</label>
                        <textarea @*asp-for="Comment"*@ class="form-control"></textarea>
                    </div>
                <button type="submit" onsubmit="checkCity" class="btn-second  btn-submit   btn btn-success float-right" style="margin-bottom: 30px">Pay with Cash</button>
                </form>
            </div>
        </div>
