<html>
<head>

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="~/css/404.css" />
</head>
<body>
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>4<span style="color:olivedrab;">0</span>4</h1>
            </div>
            <h4 data-text="Opps! Page not found">
                Oops! The page you're looking for does not exist...
            </h4>
            <p>
                Let's go and try from there.
            </p>
            <div class="btns">
                <a asp-action="Index" asp-controller="Home"><button type="button" class="btn btn-secondary">Back to Home</button></a>
            </div>
        </div>
    </div>
</body>
</html>
