@model IndexVM
<!-- Topbar Start -->
<section class="about-us-slider swiper-container p-relative">
    <div class="swiper-wrapper">
        <div class="swiper-slide slide-item">
            <img src="~/img/banner-1.jpg"
                 class="img-fluid full-width"
                 alt="Banner" />
            <div class="transform-center">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-lg-7 align-self-center">
                            <div class="right-side-content">
                                <h1 class="text-custom-white fw-600">
                                    NORRONA
                                </h1>
                                <h3 class="text-custom-white fw-400">

                                    NEW ALPINE APPAREL IN STOCK

                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overlay overlay-bg"></div>
        </div>
        <div class="swiper-slide slide-item">
            <img src="~/img/banner-2.jpg"
                 class="img-fluid full-width"
                 alt="Banner" />
            <div class="transform-center">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-lg-7 align-self-center">
                            <div class="right-side-content">
                                <h1 class="text-custom-white fw-600">
                                    BLACK DIAMOND
                                </h1>
                                <h3 class="text-custom-white fw-400">

                                    NEW MARKDOWNS | UP TO 30% OFF

                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overlay overlay-bg"></div>
        </div>
        <div class="swiper-slide slide-item">
            <img src="~/img/banner-3.jpg"
                 class="img-fluid full-width"
                 alt="Banner" />
            <div class="transform-center">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-lg-7 align-self-center">
                            <div class="right-side-content">
                                <h1 class="text-custom-white fw-600">
                                    CLEARANCE
                                </h1>
                                <h3 class="text-custom-white fw-400">

                                    NEW MARKDOWNS | SAVE UP TO 40%

                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overlay overlay-bg"></div>
        </div>
    </div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</section>

<div class="container-fluid">
    <div class="row align-items-center  py-3 px-xl-5 d-none d-lg-flex">
        <div class="col-lg-4">
        </div>
        <div class="col-lg-4 col-6 text-left">
            <form asp-action="SearchProduct" method="post">
                <div class="input-group">
                    <input type="text" name="NamePro" class="form-control" placeholder="Search for products">
                    <div class="input-group-append">
                        <span class="input-group-text  btn-second  btn-submit   btn btn-success">
                            <i class="fa fa-search"></i>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Topbar End -->
<!-- Categories Start -->
<div class="container-fluid pt-5">
    <h3 class="text-center" style="padding-top: 20px">Category</h3>   
    <div class="row px-xl-5 pb-3">
        @foreach (var cat in Model.Categories)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <a class="text-decoration-none" href="/Home/ProductCategory/@cat.CatId">
                    <div class="cat-item d-flex align-items-center mb-4">
                        <div class="overflow-hidden" style="width: 200px; height: 200px;">
                            <img class="img-fluid" src="~/category/@cat.CatPhoto" alt="">
                        </div>
                        <div class="flex-fill pl-3">
                        </div>
                    </div>  <h6>@cat.CatName</h6>
                </a>
            </div>
        }


    </div>
</div>
<!-- Categories End -->
<!-- Products Start -->
<div class="container-fluid pt-5 pb-3">
    <h3 class="text-center" style="padding-top: 20px">FEATURED PRODUCTS</h3>
    <div class="row px-xl-5">
        @foreach (var item in Model.Products)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <a href="/Home/ProductDetailes/@item.ProId">
                            <img class="img-fluid w-100" src="~/Product/@item.ProImage" alt="">
                        </a>
                         <div class="product-action">
                         </div>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="">
                            @item.ProName
                        </a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>$@item.Price</h5><h6 class="text-muted ml-2"></h6>
                        </div>
                    </div>
                </div>
            </div>
        }


    </div>
</div>
<!-- Products End -->
