@model IndexVM
<!-- Topbar Start -->
<div class="container-fluid">
    <div class="row align-items-center  py-3 px-xl-5 d-none d-lg-flex">
        <div class="col-lg-4">
        </div>
        <div class="col-lg-4 col-6 text-left">
            <form asp-action="SearchProduct" method="post">
                <div class="input-group">
                    <input type="text" name="NamePro" class="form-control" placeholder="Search for products">
                    <div class="input-group-append">
                        <span class="input-group-text  btn-second  btn-submit   btn btn-success">
                            <i class="fa fa-search"></i>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Topbar End -->
<!-- Categories Start -->
<div class="container-fluid pt-5">
    <h3 class="text-center" style="padding-top: 20px">Category</h3>   
    <div class="row px-xl-5 pb-3">
        @foreach (var cat in Model.Categories)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <a class="text-decoration-none" href="/Home/ProductCategory/@cat.CatId">
                    <div class="cat-item d-flex align-items-center mb-4">
                        <div class="overflow-hidden" style="width: 200px; height: 200px;">
                            <img class="img-fluid" src="~/category/@cat.CatPhoto" alt="">
                        </div>
                        <div class="flex-fill pl-3">
                        </div>
                    </div>  <h6>@cat.CatName</h6>
                </a>
            </div>
        }


    </div>
</div>
<!-- Categories End -->
<!-- Products Start -->
<div class="container-fluid pt-5 pb-3">
    <h3 class="text-center" style="padding-top: 20px">FEATURED PRODUCTS</h3>
    <div class="row px-xl-5">
        @foreach (var item in Model.Products)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <a href="/Home/ProductDetailes/@item.ProId">
                            <img class="img-fluid w-100" src="~/Product/@item.ProImage" alt="">
                        </a>
                         <div class="product-action">
                         </div>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="">
                            @item.ProName
                        </a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>$@item.Price</h5><h6 class="text-muted ml-2"></h6>
                        </div>
                    </div>
                </div>
            </div>
        }


    </div>
</div>
<!-- Products End -->
